.contact-row {
  margin-top: 0px;
  background-color: #ff6b08;
  min-height: 60vh;
}

.coll {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.contactDetails {
  color: white;
  display: flex;
  flex-direction: column;
}
.contact-btn {
  margin-top: 10px;
  padding: 4px 30px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  font-weight: 400;
  color: #ff6b08;
  border: none;
  font-weight: bold;
  background-color: white;
  text-align: center;
  justify-content: center;
}
.contact-btn:hover {
  color: white;
  background-color: #203740;
}
.repair {
  background: linear-gradient(to right, #ff6b08, #cf23cf);
  color: transparent;
  background-clip: text;
}

