.services {
  background-color: #e9ecef;
  margin-top: 90px;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
}
.myrow {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: auto;
  margin-top: 3em;
}

.service-card {
display: flex;
align-items: center;
justify-content: center;

}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (max-width: 640px) {
 
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
